<%- include('partials/skiplink.ejs'); %> <%- include('partials/header.ejs'); %> <%- include('partials/menu.ejs', {}); %> 
<div class="fr-container">
  <h1 class="fr-grid-row fr-pt-5w fr-pb-2w">Glossaire du vocabulaire d'Authentification</h1>
  <p class="fr-pb-3w">L'univers de l'authentification est complexe à appréhender, voici quelques définitions accompagnés de liens.</p>
  <!-- Tuiles verticales placées dans la grille -->

  <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
    <% glossaire.forEach(function(item){ %>
        <div class="fr-col-6 fr-col-md-4 fr-col-lg-4 fr-col-xl-3">
            <div class="fr-tile fr-enlarge-link">
                <div class="fr-tile__body">
                    <h2 class="fr-tile__title"><a href="<%= item.link %>"><%= item.title %></a></h2>
                    <p class="fr-tile__desc"><%= item.desc %></p>
                </div>
            </div>
        </div>
    <% }); %>
  </div>
</div>
<%- include('partials/footer.ejs') %>