<%- include('partials/header.ejs'); %> <%- include('partials/menu.ejs',
{userEmail: userEmail}); %>
<div>
  <% if (!userEmail) { %>
  <div class="fr-background-alt--blue-france fr-py-5w">
    <div class="fr-container">
      <h1 class="fr-grid-row fr-grid-row--center">Pourquoi s'identifier en tant qu'agent ?</h1>

            <div class="fr-m-6w">
              Authentification est un service qui permet aux agents et agentes de
              l'état de pouvoir s'identifier à différents services numériques
              grâce à un code reçu par Tchap ou par email. <br>Si vous souhaitez des informations sur notre service ou l'intégrer à votre administration, merci de nous contacter à l'adresse mail <a href="mailto:authentification@beta.gouv.fr">authentification@beta.gouv.fr</a>
            </div>
          </div>
        </div>
  <%- include('partials/eligibility.ejs') %>
  <%- include('partials/explantion.ejs') %>
  <% } %>
</div>
<%- include('partials/footer.ejs') %>
