<%- include('partials/skiplink.ejs'); %> 
<%- include('partials/header.ejs'); %> 
<%- include('partials/menu.ejs'); %> 
<div>
  <div class="fr-background-alt--blue-france fr-py-5w" id="contenu">
    <div class="fr-container">
        <div class="fr-container">
            <h1 class="fr-grid-row fr-pl-5w fr-mt-2w fr-h2">Authentification simple et rapide pour tous les agents publics.</h1>
            <h2 class="fr-grid-row text-center fr-pl-5w fr-h4">Sans inscription.</h2>
            <h2 class="fr-grid-row text-center fr-pl-5w fr-h4">Sans mot de passe.</h2>
        </div>
    </div>
  </div>
  <%- include('partials/explanation.ejs') %>
  <%- include('partials/eligibility.ejs') %>
  <%- include('partials/contact.ejs') %>
</div>
<%- include('partials/footer.ejs') %>
