<%- include('partials/skiplink.ejs'); %> 
<%- include('partials/header.ejs'); %> 
<%- include('partials/menu.ejs'); %> 
<div>
  <div class="fr-background-alt--blue-france fr-py-5w" id="contenu">
    <div class="fr-container">
        <div class="fr-container">
            <h1 class="fr-grid-row fr-pl-5w fr-mt-2w fr-h2">Authentification simple et rapide pour tous les agents publics.</h1>
            <h2 class="fr-grid-row text-center fr-pl-5w fr-h4">Sans inscription.</h2>
            <h2 class="fr-grid-row text-center fr-pl-5w fr-h4">Sans mot de passe.</h2>
        </div>
    </div>
  </div>
  <%- include('partials/explanation.ejs') %>
  <div class="fr-highlight fr-mx-16w fr-mb-6w ">
    <p>
        Authentification est un service d'authentification pour les agent·e·s publics.<br>
        C'est une brique de code implémentable sur vos services en internes.<br>
        Il permet une connexion sécurisé et rapide sans création de compte ni de mot de passe.<br>
        Le serveur d'identité de ce produit est Tchap, la messagerie instantanée de l'Etat.<br>
        Si vous souhaitez des informations sur notre service ou l'intégrer à votre administration, merci de nous contacter à l'adresse mail <a href="mailto:authentification@beta.gouv.fr">authentification@beta.gouv.fr</a>
    </p>
  </div>
    <div class="fr-mx-16w fr-mb-6w">
        <h2 class="fr-tile__title">Personnalisation de la solution :</h2>
        <p>
            L'interface d'Authentification peut être en marque blanche, avec le nom de votre service.<br>
            De même, les mails et/ou message Tchap peuvent être envoyés avec votre compte mail de votre service, avec le nom de votre service dans les titres des messages.<br>
            Pour faciliter l'intégration à une solution existante, nous proposons deux flux d'intégration&nbsp;:
        </p>
        <ol>
            <li>
                Vous ne disposez pas de formulaire d'identification avec adresse email, vous pouvez utiliser celui offert par Authentification.
            </li>
            <li>
                Ou, comme sur Audioconf, vous envoyez la demande d'authentification au moment qui vous convient dans votre processus.
            </li>
        </ol>
    </div>
  </div>
  <%- include('partials/eligibility.ejs') %>
  <%- include('partials/contact.ejs') %>
</div>
<%- include('partials/footer.ejs') %>
